.venv/
venv/
env/
ENV/
*.bak/
.python-version
__pypackages__/
__pycache__/
*.py[cod]
*$py.class
*.so
.cache/
.ipynb_checkpoints/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.spyderproject
.spyderworkspace
.ropeproject
build/
dist/
target/
sdist/
wheels/
lib/
lib64/
parts/
var/
downloads/
eggs/
.eggs/
develop-eggs/
*.egg-info/
*.egg
.installed.cfg
MANIFEST
*.manifest
*.spec
.Python
*.log
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
Thumbs.db
images/
desktop.ini
*.tmp
*.bak
*.swp
.coverage
.coverage.*
*.cover
htmlcov/
nosetests.xml
coverage.xml
pytestdebug.log
.pytest_cache/
.tox/
.nox/
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.pylint.d/
.env
.env.*
!.env.example
local_settings.py
db.sqlite3
instance/
.webassets-cache
.scrapy
docs/_build/
/site
profile_default/
ipython_config.py
*.mo
*.pot
*.sage.py
celerybeat-schedule
outlines/
outputs/
output_image.jpg
clustering_image.jpg
debug/
runs/
yolov8*/weights/
*.pt
server/yolo/weights/yolov11-x-weights-v6.pt